.dialog-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99998;
  background: linear-gradient(to bottom, rgba(#000, .2), rgba(#000, .3));
  backdrop-filter: grayscale(100%);
}

.dialog-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-box {
  opacity: 1;
  border-radius: 8px;
  background: rgba(#FFF, 1);
  padding: $spacer*1.4 $spacer*2;
  box-shadow: 4px 4px 6px 5px rgba(0, 0, 0, 0.3);
  font-size: $font-size-lg;
}

/**
 * backdrop booting animation
 */
.dialog-backdrop-transition-enter {
  opacity: 0;
}

.dialog-backdrop-transition-leave-to {
  opacity: 0;
}

.dialog-backdrop-transition-enter-active, .dialog-backdrop-transition-leave-active {
  transition: opacity .6s .4s ease;
}

.dialog-backdrop-transition-leave-active {
  transition-delay: .2s;
}

/**
 * box booting animation
 */
.dialog-box-transition-enter {
  opacity: 0;
  margin-top: -20px;
}

.dialog-box-transition-leave-to {
  opacity: 0;
  margin-top: 20px;
}

.dialog-box-transition-enter-active, .dialog-box-transition-leave-active {
  transition: opacity .4s .1s ease, margin-top .3s .1s;
}
