
.password-generator {
  position: absolute;
  background: var(--black);
  top: 0;
  transform: translateY(-100%);
  padding: calc(var(--grid-gap) / 2) 0;
  width: auto;
  max-width: 400px;
  display: grid;
  grid-template-columns: 3em 1fr 3em;

  &:after {
    $size: 8px;
    content: " ";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $size $size 0 $size;
    border-color: var(--black) transparent transparent transparent;
    bottom: -$size;
    left: 10%;
  }
}

.password-generator-input {
  padding: 3px 8px;

  &, &:focus, &:active {
    background: var(--gray-800);
    width: 100%;
    color: var(--white);
    border: none;
    outline: none;
    box-shadow: none;
  }
}

.password-generator-ico {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
}
