html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

form {
  margin: 0;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

input, textarea {
  display: block;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1em;
  border: none;
  border-radius: 0;
  font-family: var(--font-family);
}

button {
  margin: 0;
  border: none;
  outline: none;
}

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: .25;
}
