a {
  text-decoration: none;
  color: var(--link-color);
}

p {
  margin-bottom: 1.2rem;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin-bottom: 0.5rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h1, .h1 {
  font-size: clamp(calc(var(--font-lg) * 1.23), 3vw, var(--h1-size));
}

h2 {
  font-size: clamp(calc(var(--font-lg) * 1), 2.3vw, var(--h2-size));
}
