$size: .8em;

.throbber {
  width: $size*2;
  position: relative;
  height: $size;
}

.throbber-1, .throbber-2 {
  width: $size;
  height: $size;
  position: absolute;
  background: #FFF;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.throbber-1 {
  left: 20%;
  animation: osc-l .4s ease infinite;
}

.throbber-2 {
  left: 80%;
  animation: osc-r .4s ease infinite;
  background: #ff9900;
}

@keyframes osc-l {
  0% {
    left: 20%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 20%;
  }
}

@keyframes osc-r {
  0% {
    left: 80%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 80%;
  }
}
