$password-generator-bg: rgba($black, .9);

.password-generator {
  position: absolute;
  background: $password-generator-bg;
  top: 0;
  transform: translateY(-100%);
  padding: calc($grid-gutter-width / 2) 0;
  width: 100%;
  max-width: 400px;
  display: grid;
  grid-template-columns: 3em 1fr 3em;
  z-index: $space-form-password-generator-z;

  &:after {
    $size: 8px;
    content: " ";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: $size $size 0 $size;
    border-color: $password-generator-bg transparent transparent transparent;
    bottom: -$size;
    left: 10%;
  }
}

.password-generator-input {
  &, &:focus, &:active {
    background: rgba($input-bg, .1);
    width: 100%;
    color: $white;
    border: none;
    outline: none;
    box-shadow: none;
  }
}

.password-generator-ico {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
}
