$space-right-active-dur: .2s;

.space-right {
  grid-area: right;
  position: relative;
  display: grid;
  grid-template-areas: "body";
  grid-template-columns: 1fr;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    border-right: 1px solid var(--border-color);
  }
}

.space-right-add {
  width: var(--spice-right-add-size);
  height: var(--spice-right-add-size);
  font-size: var(--spice-right-add-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  bottom: var(--space-right-item-active-margin);
  right: var(--space-right-item-active-margin);
  transition: transform .3s ease-in-out;
  box-shadow: 2px 8px 6px 0 rgb(0 0 0 / 20%);

  &:hover {
    color: var(--component-active);
  }
}

.space-right-ul {
  grid-area: body;
  overflow: auto;
}

.space-right-li {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;
  align-items: stretch;

  &:before {
    content: " ";
    display: block;
    width: 0;
    flex-shrink: 0;
    background: var(--primary);
    transition: width $space-right-active-dur;
  }

  &.active:before {
    width: var(--space-right-item-active-margin);
  }
}

.space-right-item {
  flex-grow: 1;
  padding: 15px var(--grid-gap);
  padding-right: calc(var(--space-right-item-active-margin) + var(--grid-gap));
  overflow: hidden;
  cursor: pointer;
  transition: padding-right $space-right-active-dur;
  word-break: break-word;

  &.active {
    padding-right: var(--grid-gap);
  }
}

.space-right-item.archived {
  background: var(--space-card-archived-bg);
  color: var(--gray-500);
}
