.space-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(#000, .3);
  z-index: var(--space-z-backdrop);
}

// space backdrop transition
.space-backdrop-transition-enter-active, .space-backdrop-transition-leave-active {
  transition: opacity .5s;
}

.space-backdrop-transition-enter-from, .space-backdrop-transition-leave-to {
  opacity: 0;
}
