$space-form-item-row-ident-y: 10px;

.space-form-item {
  padding-top: $space-form-item-row-ident-y;
  padding-bottom: $space-form-item-row-ident-y;

  &:hover {
    background: rgba($border-color, .6);
  }

  &.sortable-ghost {
    opacity: $sortable-ghost-opacity;
    cursor: grabbing;
  }
}

.space-form-item-row {
  display: grid;
  grid-template-columns: $space-form-item-ident 1fr $space-form-item-ident;

  &+& {
    margin-top: calc($space-form-item-row-ident-y/2);
  }
}


.space-form-item-ico, .space-form-item-ico-lg {
  text-align: center;
  cursor: pointer;
  display: block;
  user-select: none;
  color: $space-form-item-ico-color;

  &:hover {
    color: $space-form-item-ico-hover-color;
  }
}

.space-form-item-ico {
  padding-top: .2em;
}

.space-form-item-ico-lg {
  padding-top: .6em;
}

.space-form-item-title,
.space-form-item-body {
  border: none;
  resize: none;
  width: 100%;
  background: $body-bg;
  padding: 3px 5px;
}

.space-form-item-body-hidden {
  background: transparent;
  pointer-events: none;
}

.space-form-item-title {
  @include font-size($font-size-base);
}

.space-form-item-body {
  @include font-size($space-item-body-fs);
}

/**
 * Add item
 */
.space-form-item-add {
  position: relative;
  cursor: pointer;
  user-select: none;

  input, textarea {
    pointer-events: none;
  }

  &:hover .space-form-item-add-button {
    background-color: $success;
  }
}

.space-form-item-add-button {
  width: $space-form-item-add-button-size;
  height: $space-form-item-add-button-size;
  font-size: $space-form-item-add-button-size;
  line-height: $space-form-item-add-button-size;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: $border-color;
  color: $white;
}
