:root {
  --font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --spacer: 14px;
  --grid-gap: 14px;
  --font-lg: 1.25rem;
  --font-sm: .75rem;
  --h1-size: 2rem;
  --h2-size: 1.55rem;
  --sortable-ghost-opacity: 0.1;

  // space
  --space-header-height: 50px;
  --space-header-icon-size: 1.3em;
  --space-nav-ident-x: 2rem;
  --space-z-aside: 1;
  --space-z-overlay: 5;
  --space-z-backdrop: 3;
  --space-z-panel: 4;
  --space-transition-margin: 150px;
  --space-right-item-active-margin: 18px; // gap*2
  --space-card-padding-x: 35px;
  --space-transition-time: .4s;
  --space-left-width: 250px;
  --space-menu-width: 250px;
  --space-right-width: 300px;
  --spice-right-add-size: 3.5rem;
  --spice-right-add-font-size: 1.8rem;
  --space-card-archived-bg: #F5F5F5;
  --space-form-item-focus-color: rgba(206, 212, 218, .4);
  --space-form-item-row-ident-y: 10px;
  --space-panel-max-width: 450px;
  --space-panel-ident-x: 20px;

  // colors
  --accent: #f90;
  --success: #198754;
  --primary: #31348e;
  --link-color: #0005cc;
  --color: #000;
  --white: #FFF;
  --component-active: #FFF;
  --border-color: #ced4da;
  --black: #000;
  --color-muted: #6c757d;
  --gray-800: #343a40;
  --gray-900: #212529;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-500: #adb5bd;
  --gray-400: #ced4da;
}
