.space-card {
  z-index: $space-card-z;
  background: $body-bg;
  box-shadow: rgba(#000, .3) 0 0 80px;
  transition: background-color $space-card-archived-dur;

  display: grid;
  grid-template-areas:
      "header"
      "footer";

  grid-template-rows: $space-card-header-height 1fr;
}

.space-card-archived {
  background: $space-card-archived-bg;
}

.space-card-body {
  padding: $space-card-padding-x;
}

.space-card-tags {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 5px;
}
