.space-card-header {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  z-index: 10;
}

.space-card-header-nav {
  background: $component-active-bg;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $component-active-color;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s;

  &:hover {
    background: lighten($component-active-bg, 5);
  }
}
