@import "~bootstrap/scss/functions";

/**
 * Bootstrap
 */
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-size-base: 1rem;
$primary: #31348e;
$link-color: #0006ff;
$accent: #ff9900;
$link-decoration: none;
$font-family-base: $font-family-monospace;
$font-size-sm: $font-size-base * .775;
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
$input-placeholder-color: #CCCCCC;
$card-border-width: 0;

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

$theme-colors: map-merge($theme-colors,  (
  "accent": $accent,
));

/**
 * Application
 */
$space-header-height: 50px;
$space-left-width: 250px;
$space-menu-width: 300px;
$space-transition-time: .4s;
$space-transition-margin: 150px;
$space-z-wrapper: 1;
$space-z-backdrop: 3;
$space-z-overlay: 3;

/**
 * space right
 */
$space-right-width: 300px;
$spice-right-add-size: 3.5rem;

/**
 * space form
 */
$space-form-footer-height: $space-header-height;
//$space-form-padding-x: $container-padding-x;
//$space-form-item-ident: 2rem;
//$spice-right-add-size: 3.5rem;
//$spice-from-item-add-size: 3.5rem;

/**
 * space card
 */
$space-card-padding-x: $container-padding-x*3;
$space-card-header-height: $space-header-height;
$space-card-z: 2;
