@import "~bootstrap/scss/functions";

/**
 * Bootstrap
 */
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-size-base: 1rem;
$primary: #31348e;
$link-color: #0006ff;
$accent: #ff9900;
$link-decoration: none;
$font-family-base: $font-family-monospace;
$font-size-sm: $font-size-base * .775;
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
$input-placeholder-color: #CCCCCC;
$card-border-width: 0;
$btn-disabled-opacity: 1;

@import "~bootstrap/scss/variables";

$theme-colors: map-merge($theme-colors,  (
  "accent": $accent,
));

/**
 * Application
 */
// vue-draggable ghost element
$sortable-ghost-opacity: 0.1;
$disabled-filter: grayscale(100);

$space-header-height: 50px;
$space-header-icon-size: 1.3em;
$space-left-width: 250px;
$space-menu-width: 250px;
$space-transition-time: .4s;
$space-transition-margin: 150px;
$space-z-wrapper: 1;
$space-z-backdrop: 3;
$space-z-overlay: 5;
$space-z-panel: 4;
$space-panel-max-width: 450px;
$space-panel-ident-x: 20px;

/**
 * space right
 */
$space-right-width: 300px;
$spice-right-add-size: 3.5rem;

/**
 * space card
 */
$space-card-padding-x: $container-padding-x*3;
$space-card-header-height: $space-header-height;
$space-card-z: 2;
$space-card-archived-bg: #F5F5F5;
$space-card-archived-dur: .33s;

/**
 * space form
 */
$space-form-footer-height: $space-header-height;
$space-form-footer-z: 20;
$space-form-item-add-button-size: $spice-right-add-size;
$space-form-item-ident: $space-card-padding-x;
$space-form-item-ico-color: darken($border-color, 10);
$space-form-item-ico-hover-color: darken($border-color, 50);
$space-form-password-generator-z: $space-form-footer-z - 1;

/**
 * space item
 */
$space-item-body-fs: $h4-font-size;

/**
 * space nav
 */
$space-nav-ident-x: 2rem;

@import "~bootstrap/scss/mixins/breakpoints";
@import "~bootstrap/scss/vendor/rfs";
