.space-nav {
  margin: 0;
  padding: 0;
  list-style: none;
  color: $component-active-color;
}

.space-nav li {
  display: grid;
  grid-template-columns: $space-nav-ident-x 1fr $space-nav-ident-x;

  a {
    color: $component-active-color;
  }

  a:hover {
    color: rgba($component-active-color, .8);
  }

  &.active {
    a {
      color: $accent;
    }
  }

  &:hover {
    .space-nav-icon-hidden {
      opacity: 1;
    }
  }
}

.space-nav-ico {
  display: flex;
  align-content: center;
  justify-content: center;
}

.space-nav-icon-hidden {
  opacity: 0;
  transition: opacity .3s;
}

.space-nav-ico-counter {
  align-self: center;
  background-color: $body-bg;
  color: $body-color;
  border-radius: 4px;
  font-size: .8em;
  padding: 0 4px;

  .active & {
    background: $accent;
  }
}

.space-nav-hr {
  margin-left: $space-nav-ident-x;
  margin-right: $space-nav-ident-x;
  border-top: 1px solid $border-color;
}
