/**
 * Space wrapper
 */
main.space {
  display: grid;
  transition: margin $space-transition-time;
  grid-template-areas:
      "left header header"
      "left right main";

  grid-template-rows: $space-header-height auto;
  grid-template-columns: $space-left-width minmax($space-right-width, 30%) auto;


  @include media-breakpoint-down(lg) {
    grid-template-areas:
        "header header"
        "right main";

    grid-template-columns: minmax(300px, 30%) auto;

    &.space-left-sown {
      margin-left: $space-transition-margin;
      margin-right: -$space-transition-margin;
    }
  }

  @include media-breakpoint-down(md) {
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "right";
  }
}

.space.space-menu-shown {
  margin-left: -$space-transition-margin;
  margin-right: $space-transition-margin;
}

/**
 * Header
 */
.space-header {
  grid-area: header;
  background: #ff9900;
  z-index: $space-z-wrapper;
}

/**
 * left
 */
.space-left {
  grid-area: left;
  background: #000;
  z-index: $space-z-wrapper;
  overflow: auto;

  @include media-breakpoint-down(lg) {
    width: $space-left-width;
    position: fixed;
    left: -$space-left-width;
    top: 0;
    bottom: 0;
    transition: left $space-transition-time;
    z-index: $space-z-overlay;

    &.space-left-sown {
      left: 0;
    }
  }
}

.space-right {
  grid-area: right;
  border-right: 1px solid $border-color;
  z-index: $space-z-wrapper;
}

/**
 * Main
 */
.space-main {
  grid-area: main;
  position: relative;
  z-index: $space-z-wrapper;
  overflow: auto;
  flex-grow: 1;

  @include media-breakpoint-down(md) {
    position: fixed;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $space-z-overlay;

    &.space-main-focused {
      top: 0;
    }
  }
}

.space-main-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  max-height: 100%;
}

/**
 * MENU
 */
.space-menu {
  background: #000;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: $space-menu-width;
  margin-right: -$space-menu-width;
  transition: margin-right .4s;
  z-index: $space-z-overlay;
  overflow: auto;
}

.space-menu-shown {
  margin-right: 0;
}

/**
 * Space Backdrop
 */
.space-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(#000, .3);
  z-index: $space-z-backdrop;
}

// space backdrop transition
.space-backdrop-transition-enter-active, .space-backdrop-transition-leave-active {
  transition: opacity .5s;
}

.space-backdrop-transition-enter, .space-backdrop-transition-leave-to {
  opacity: 0;
}
