.input-tag-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 5px;
}

.input-tag-li {
  display: block;

  &.sortable-ghost {
    opacity: var(--sortable-ghost-opacity);
  }
}

.input-tag-input {
  padding: 0;
  margin: 0;
  border: transparent;
  max-width: 200px;
  outline: none;
  background: transparent;
  border-bottom: 1px solid var(--border-color);
  box-shadow: none;
}
